
/* #region-----------commons---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}
[class^="col"]
{
    padding: 0 1rem;
}

/* #endregion-----------commons---*/
/* #region-----------utilities---*/
:root{
    --primary: #0084FD;
    --secondary: #9792E4;
    --bg_jumbo: #B5DDFF;
    --bg_footer: #333333;
    --calltoaction: #FDC15F;
    --bg_light: #FFFFFF;
    --bg_dark: #000000;
}
.col_12{
    width: 100%;
}
.col_8{
    width: calc(100% / 12 * 8);
}
.col_6{
    width: calc(100% / 12 * 6);
}
.col_4{
    width: calc(100% / 12 * 4);
}
.row{
    flex-wrap: wrap;
    display: flex;
    margin: 0 -1rem;
}
.card{
    height: 200px;
}
.container{
    width: 95%;
    max-width: 1152px;
    margin: auto;
}
.card{
    width: 100%;
    border: 2px dashed black;
    border-radius: 2rem;
    margin: 1rem 0;
}
section{
    padding: 2rem 0;
}
/* #endregion-----------utilities---*/


/* #region-----------navbar---*/
#site_nav{
    background-color: var(--primary);
}
/* #endregion-----------navbar---*/


/* #region-----------main---*/
#demo{
    background-color: var(--bg_light);
}
#demo .card{
    background-color: var(--bg_jumbo);
}


#strategic{
    background-color: var(--secondary);
}
#strategic .secondary_card{
    background-color: var(--bg_light);
}


#testimonials{
    background-color: var(--bg_light);
}
#testimonials .titles>h4,h2,p{
    text-align: center;
}
#testimonials .card{
    background-color: var(--secondary);
    display: flex;
}


#benefits{
    background-color: var(--secondary);
}
#benefits .titles>h3{
    text-align: center;
}
#benefits .card{
    background-color: var(--bg_light);
}

#about{
    background-color: var(--bg_light);
}
#about .card {
    background-color: var(--secondary);
}


#simple{
    background-color: var(--secondary);
}
#simple .row{
    justify-content: center;
}


/* #endregion-----------main---*/


/* #region-----------footer---*/
#site_footer{
    background-color: var(--bg_footer);
}
#site_footer .row{
    justify-content: center;
}
/* #endregion-----------footer---*/


/* #region-----------MEDIA QUERY tablet---*/
@media screen and (min-width:480px) {
    html{
        background-color: aquamarine;
    }
    .col_md_12{
        width: calc(100% / 12);
    }
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
}
/* #endregion-----------MEDIA QUERY tablet---*/


/* #region-----------MEDIA QUERY desktop---*/
@media screen and (min-width:768px) {
    html{
        background-color: #FDC15F;
    }
    .col_lg_12{
        width: calc(100% / 12);
    }
    .col_lg_8{
        width: calc(100% / 12 * 8);
    }
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
}
/* #endregion-----------MEDIA QUERY desktop---*/


