
/* #region-----------commons---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
[class^="col"]
{
    padding: 0 1rem;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5rem;
}

/* #endregion-----------commons---*/
/* #region-----------utilities---*/
:root{
    --primary: #0084FD;
    --secondary: #9792E4;
    --bg_jumbo: #B5DDFF;
    --bg_footer: #333333;
    --calltoaction: #FDC15F;
    --bg_light: #FFFFFF;
    --bg_dark: #000000;
}
.col_12{
    width: 100%;
}
.col_8{
    width: calc(100% / 12 * 8);
}
.col_6{
    width: calc(100% / 12 * 6);
}
.col_4{
    width: calc(100% / 12 * 4);
}
.row{
    flex-wrap: wrap;
    display: flex;
    margin: 0 -1rem;
}
.container{
    width: 90%;
    max-width: 1152px;
    margin: auto;
}
.card{
    width: 100%;
    border-radius: 1.5rem;
    margin: 1rem 0;
}
section{
    padding: 1rem 0;
}
img{
    max-width: 100%;
}
.button{
    padding: .4rem .8rem;
    border-radius: 1rem;
    display: inline-block ;
}
.blue_btn{
    background-color: var(--primary);
    color: var(--bg_light);
}
.violet_btn{
    background-color: var(--secondary);
    color: var(--bg_light);
}
.button span,i{
    padding: 0 .25rem;
}
.text_center{
    text-align: center;
}
.display_flex{
    display: flex;
}
.align_end{
    align-content: flex-end;
}
.position_relative{
    position: relative;
}
.dashed{
    border: 2px dashed red;
}
/* #endregion-----------utilities---*/


/* #region-----------navbar---*/
#site_nav{
    background-color: var(--primary);
    height: 40px;
    position: sticky;
    top: 0;
}
#site_nav .container{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bg_light);
    padding: 1rem 0;
}
#site_nav a{
    width: 10%;
    margin-bottom: -.4rem;
}
/* #endregion-----------navbar---*/


/* #region-----------main---*/

/* #region-----------demo---*/
#demo{
    background-color: var(--bg_light);
}
#demo .card{
    background-color: var(--bg_jumbo);
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#demo h4,
#demo p
{
    padding: 1rem 0;
}
#demo img{
    width: 70%;
}
#demo p{
    padding-bottom: 1rem;
}
#demo .image_container{
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
#demo h3{
    color: var(--primary);
}
#demo p{
    color: var(--bg_footer);
}
#demo .icon{
    color: var(--primary);
    padding: 1.5rem 0;
}
/* #endregion-----------demo---*/

/* #region-----------strategic---*/

#strategic{
    background-color: var(--secondary);
}

#strategic .main_card img,
#strategic .main_card h2,
#strategic .main_card p,
#strategic .main_card i
{
    color: var(--bg_light);
    padding: 2rem;
}
#strategic .secondary_card{
    background-color: var(--bg_light);
    padding: 1rem;
    align-self: flex-end;
}

#strategic .secondary_card img,
#strategic .secondary_card h3,
#strategic .secondary_card p,
#strategic .secondary_card i
{
    color: var(--bg_dark);
    padding: 1rem;
}
#strategic .secondary_card img{
    width: 80%;
}
#strategic .secondary_card .button{
    padding: .8rem .9rem;
    border-radius: 50%;
}
#strategic .secondary_card{
    border-radius: 3rem;
}
/* #endregion-----------strategic---*/

/* #region-----------testimonials---*/

#testimonials{
    background-color: var(--bg_light);
}
#testimonials .titles h4,
#testimonials .titles h2,
#testimonials .titles p{
    text-align: center;
    padding: 1rem 0;
} 
#testimonials .titles h2{
    color: var(--secondary);
    font-size: 2rem;
    line-height: 2.5rem;
}
#testimonials .card{
    background-color: var(--secondary);
    padding: 1rem 0;
}
#testimonials img{
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 .5rem;
}

#testimonials .image_container{
    display: flex;
    justify-content: center;
}
#testimonials .text_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--bg_light);
}
#testimonials p,
#testimonials h4
{
    padding: 1rem;
}
/* #endregion-----------testimonials---*/

/* #region-----------benefits---*/


#benefits{
    background-color: var(--secondary);
}
#benefits .titles{
    text-align: center;
    padding: 2rem 0;
    color: var(--bg_light);
}
#benefits .card{
    background-color: var(--bg_light);
    padding: 1rem;
}
#benefits .card h2{
    font-size: 4rem;
}
#benefits .card h2,
#benefits .card h3{ 
    color: var(--secondary);
}
#benefits .card h2,
#benefits .card h3,
#benefits .card p{ 
    padding: 1rem;
}
#benefits .button{
    padding: .5rem 3rem;
    margin-left: .75rem;
    margin-bottom: .5rem;
}
/* #endregion-----------benefits---*/

/* #region-----------about---*/

#about{
    background-color: var(--bg_light);
}
#about .card {
    background-color: var(--secondary);
}
/* #endregion-----------about---*/

/* #region-----------simple---*/

#simple{
    background-color: var(--secondary);
}
#simple .row{
    justify-content: center;
}
/* #endregion-----------simple---*/


/* #endregion-----------main---*/


/* #region-----------footer---*/
#site_footer{
    background-color: var(--bg_footer);
}
#site_footer .row{
    justify-content: center;
}
/* #endregion-----------footer---*/


/* #region-----------MEDIA QUERY tablet---*/
@media screen and (min-width:768px) {
    html{
        background-color: aquamarine;
    }
    .col_md_12{
        width: calc(100% / 12);
    }
    .col_md_9{
        width: calc(100% / 12 * 9);
    }
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    .col_md_3{
        width: calc(100% / 12 * 3);
    }
    #site_nav{
        height: 50px;
    }
    #demo .image_container{
        display: inline-block;
        margin-bottom: -1.25rem;
    }
    #testimonials .text_container{
        text-align: left;
    }

}
/* #endregion-----------MEDIA QUERY tablet---*/


/* #region-----------MEDIA QUERY desktop---*/
@media screen and (min-width:991px) {
    html{
        background-color: #FDC15F;
    }
    .col_lg_12{
        width: calc(100% / 12);
    }
    .col_lg_8{
        width: calc(100% / 12 * 8);
    }
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    #site_nav{
        height: 60px;
    }
    #demo .image_container{
        display: flex;
        margin-bottom: -1rem;
    }
}
/* #endregion-----------MEDIA QUERY desktop---*/


